<a href="https://colab.research.google.com/github/harsh199910/bank_customer_future_prediction_system-machine-learning/blob/master/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [18]:

bank_dataset = pd.read_csv("bank.csv")
bank_dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [0]:
x=bank_dataset.iloc[:, 3:13].values
y=bank_dataset.iloc[:, 13].values

In [20]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_x_1 = LabelEncoder()
x[:, 1] = labelencoder_x_1.fit_transform(x[:, 1])
labelencoder_x_2 = LabelEncoder()
x[:, 2] = labelencoder_x_2.fit_transform(x[:, 2])
onehotencoder = OneHotEncoder(categorical_features = [1])
x = onehotencoder.fit_transform(x).toarray()
x = x[:, 1:]

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [0]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [0]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

In [0]:
classifier = Sequential()
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))
classifier.ass(Dropout(p = 0.1))

In [0]:
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
classifier.ass(Dropout(p = 0.1))

In [0]:
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

In [0]:
classifier.compile(optimizer = 'adam', loss ='binary_crossentropy', metrics = ['accuracy'])

In [27]:
classifier.fit(x_train, y_train, batch_size = 10, epochs = 50)

Epoch 1/50
8000/8000 [==============================] - 1s 165us/step - loss: 0.4781 - acc: 0.7960
Epoch 2/50
8000/8000 [==============================] - 1s 106us/step - loss: 0.4258 - acc: 0.7960
Epoch 3/50
8000/8000 [==============================] - 1s 97us/step - loss: 0.4196 - acc: 0.8107
Epoch 4/50
8000/8000 [==============================] - 1s 97us/step - loss: 0.4167 - acc: 0.8261
Epoch 5/50
8000/8000 [==============================] - 1s 94us/step - loss: 0.4146 - acc: 0.8295
Epoch 6/50
8000/8000 [==============================] - 1s 100us/step - loss: 0.4132 - acc: 0.8324
Epoch 7/50
8000/8000 [==============================] - 1s 96us/step - loss: 0.4119 - acc: 0.8321
Epoch 8/50
8000/8000 [==============================] - 1s 96us/step - loss: 0.4096 - acc: 0.8341
Epoch 9/50
8000/8000 [==============================] - 1s 97us/step - loss: 0.4093 - acc: 0.8335
Epoch 10/50
8000/8000 [==============================] - 1s 104us/step - loss: 0.4086 - acc: 0.8341
Epoch 11/50
8000/8000 [==============================] - 1s 94us/step - loss: 0.4078 - acc: 0.8327
Epoch 12/50
8000/8000 [==============================] - 1s 100us/step - loss: 0.4072 - acc: 0.8341
Epoch 13/50
8000/8000 [==============================] - 1s 96us/step - loss: 0.4067 - acc: 0.8320
Epoch 14/50
8000/8000 [==============================] - 1s 97us/step - loss: 0.4062 - acc: 0.8344
Epoch 15/50
8000/8000 [==============================] - 1s 100us/step - loss: 0.4055 - acc: 0.8339
Epoch 16/50
8000/8000 [==============================] - 1s 97us/step - loss: 0.4054 - acc: 0.8355
Epoch 17/50
8000/8000 [==============================] - 1s 100us/step - loss: 0.4051 - acc: 0.8339
Epoch 18/50
8000/8000 [==============================] - 1s 97us/step - loss: 0.4049 - acc: 0.8342
Epoch 19/50
8000/8000 [==============================] - 1s 97us/step - loss: 0.4040 - acc: 0.8354
Epoch 20/50
8000/8000 [==============================] - 1s 95us/step - loss: 0.4041 - acc: 0.8357
Epoch 21/50
8000/8000 [==============================] - 1s 94us/step - loss: 0.4040 - acc: 0.8357
Epoch 22/50
8000/8000 [==============================] - 1s 97us/step - loss: 0.4035 - acc: 0.8361
Epoch 23/50
8000/8000 [==============================] - 1s 93us/step - loss: 0.4035 - acc: 0.8337
Epoch 24/50
8000/8000 [==============================] - 1s 97us/step - loss: 0.4030 - acc: 0.8364
Epoch 25/50
8000/8000 [==============================] - 1s 96us/step - loss: 0.4036 - acc: 0.8350
Epoch 26/50
8000/8000 [==============================] - 1s 98us/step - loss: 0.4025 - acc: 0.8341
Epoch 27/50
8000/8000 [==============================] - 1s 96us/step - loss: 0.4030 - acc: 0.8340
Epoch 28/50
8000/8000 [==============================] - 1s 98us/step - loss: 0.4026 - acc: 0.8355
Epoch 29/50
8000/8000 [==============================] - 1s 94us/step - loss: 0.4020 - acc: 0.8350
Epoch 30/50
8000/8000 [==============================] - 1s 98us/step - loss: 0.4025 - acc: 0.8354
Epoch 31/50
8000/8000 [==============================] - 1s 96us/step - loss: 0.4018 - acc: 0.8351
Epoch 32/50
8000/8000 [==============================] - 1s 98us/step - loss: 0.4021 - acc: 0.8347
Epoch 33/50
8000/8000 [==============================] - 1s 97us/step - loss: 0.4025 - acc: 0.8351
Epoch 34/50
8000/8000 [==============================] - 1s 95us/step - loss: 0.4019 - acc: 0.8354
Epoch 35/50
8000/8000 [==============================] - 1s 97us/step - loss: 0.4016 - acc: 0.8361
Epoch 36/50
8000/8000 [==============================] - 1s 94us/step - loss: 0.4014 - acc: 0.8354
Epoch 37/50
8000/8000 [==============================] - 1s 97us/step - loss: 0.4016 - acc: 0.8330
Epoch 38/50
8000/8000 [==============================] - 1s 95us/step - loss: 0.4013 - acc: 0.8349
Epoch 39/50
8000/8000 [==============================] - 1s 97us/step - loss: 0.4014 - acc: 0.8337
Epoch 40/50
8000/8000 [==============================] - 1s 95us/step - loss: 0.4024 - acc: 0.8345
Epoch 41/50
8000/8000 [==============================] - 1s 97us/step - loss: 0.4019 - acc: 0.8345
Epoch 42/50
8000/8000 [==============================] - 1s 96us/step - loss: 0.4021 - acc: 0.8342
Epoch 43/50
8000/8000 [==============================] - 1s 96us/step - loss: 0.4010 - acc: 0.8361
Epoch 44/50
8000/8000 [==============================] - 1s 96us/step - loss: 0.4014 - acc: 0.8359
Epoch 45/50
8000/8000 [==============================] - 1s 94us/step - loss: 0.4013 - acc: 0.8344
Epoch 46/50
8000/8000 [==============================] - 1s 101us/step - loss: 0.4010 - acc: 0.8339
Epoch 47/50
8000/8000 [==============================] - 1s 95us/step - loss: 0.4009 - acc: 0.8342
Epoch 48/50
8000/8000 [==============================] - 1s 95us/step - loss: 0.4011 - acc: 0.8350
Epoch 49/50
8000/8000 [==============================] - 1s 97us/step - loss: 0.4008 - acc: 0.8354
Epoch 50/50
8000/8000 [==============================] - 1s 96us/step - loss: 0.4008 - acc: 0.8352

In [0]:
y_pred = classifier.predict(x_test)
y_pred = (y_pred > 0.5)

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [0]:
# using machine to predict the future

In [30]:
"""Predict if the customer with the following informations will leave the bank:
Geography: France
Credit Score: 600
Gender: Male
Age: 40
Tenure: 3
Balance: 60000
Number of Products: 2
Has Credit Card: Yes
Is Active Member: Yes
Estimated Salary: 50000"""

'Predict if the customer with the following informations will leave the bank:\nGeography: France\nCredit Score: 600\nGender: Male\nAge: 40\nTenure: 3\nBalance: 60000\nNumber of Products: 2\nHas Credit Card: Yes\nIs Active Member: Yes\nEstimated Salary: 50000'

In [31]:
new_prediction = classifier.predict(sc.transform(np.array([[0.0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])))
"""new_prediction = (new_prediction > 0.5)"""
print(new_prediction)

[[0.06473702]]

In [0]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
def buil_classifier():
  classifier = Sequential()
  classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))
  classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
  classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))
  classifier.compile(optimizer = 'adam', loss ='binary_crossentropy', metrics = ['accuracy'])
  return classifier

classifier = KerasClassifier(build_fn = buil_classifier, batch_size = 10, epochs = 100)
accuracies = cross_val_score(estimator = classifier, X = x_train, y = y_train, cv = 10, n_jobs = -1)
print(classifier)